## Pandas time series

In [1]:
# We can find out the data within a certain range of date and time by using pandas module named Time series.

In [2]:
# - Equivalent to date time python package.
# - Used to deal with date time.
# Complex operation on date time can be done.

#### cconverting to timestamp

In [1]:
strdata = '15-january-2022'

In [2]:
type(strdata)

str

In [3]:
import pandas as pd

In [4]:
dateformat=pd.to_datetime(strdata,format='%d-%B-%Y')

In [5]:
dateformat

Timestamp('2022-01-15 00:00:00')

In [15]:
type(dateformat)

pandas._libs.tslibs.timestamps.Timestamp

In [11]:
#%a Weekday as locale's abbreviated name Sun, Mon
#%A Weekday as locale's full name. Sunday, Monday
#%w Weekday as a decimal number monday:0,Sunday: 6

In [12]:
# %a Weekday as locale's abbreviated name Sun, Mon
# %d Day of the month as a zero-padded decimal number. 01, 02

In [13]:
# Month as locale's abbreviated name. Jan, Feb Dec
# %B Month as locale's full name. January
# %m Month as a zero-padded decimal number. 01, e2

In [14]:
 #we can do it wiyhout format

In [16]:
dates = ['2020-11-25 2:30:00 PM', 'Jan 5, 2020 18:45:00', 
         '01/11/2020', '2020.01.11', '2020/01/11', '20201105']

In [18]:
b=pd.to_datetime(dates)

In [19]:
type(b)

pandas.core.indexes.datetimes.DatetimeIndex

In [20]:
b

DatetimeIndex(['2020-11-25 14:30:00', '2020-01-05 18:45:00',
               '2020-01-11 00:00:00', '2020-01-11 00:00:00',
               '2020-01-11 00:00:00', '2020-11-05 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [21]:
strdata = '21-10-2022'

In [26]:
b = pd.to_datetime(strdata)

C:\Users\Admin\AppData\Local\Temp\ipykernel_7128\596326967.py:1: UserWarning: Parsing '21-10-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  b = pd.to_datetime(strdata)

In [27]:
b

Timestamp('2022-10-21 00:00:00')

#### Available Attributes
day     
dayofweek     
dayofyear     
days_in_month     
daysinmonth     
hour     
is_leap_year     
is_month_end     
is_month_start     
is_quarter_end     
is_quarter_start     
is_year_end     
is_year_start     
minute     
month     
second     
value     
week     
weekofyear     
year

In [29]:
b.day

21

In [31]:
b.day_name()

'Friday'

In [32]:
b.day_of_year

294

In [36]:
b.day_of_week

4

In [37]:
b.hour

0

In [38]:
b.minute

0

In [40]:
b.month_name()

'October'

In [41]:
b.is_leap_year

False

In [42]:
b.is_month_end

False

In [43]:
b.is_month_start

False

In [44]:
b.is_quarter_end

False

In [45]:
b.is_quarter_start

False

In [46]:
b.is_year_end

False

In [1]:
###

In [16]:
import pandas as pd
import numpy as np

In [20]:
str = 'april 30,2022 14:45:00:00'

In [17]:
strr = '17-01-2023'

In [21]:
str_date = pd.to_datetime(strr)

print(str_date.day)
print(str_date.is_leap_year)

17
False

/tmp/ipykernel_9068/649494631.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  str_date = pd.to_datetime(strr)

### pandas time series

In [22]:
df = pd.read_csv('shirpurGoldRefinery.csv')

In [24]:
df.head()

,Date,Open Price,High Price,Low Price,Close Price,WAP,No.of Shares,No. of Trades,Total Turnover (Rs.),Deliverable Quantity,% Deli. Qty to Traded Qty,Spread High-Low,Spread Close-Open
0,29-December-2017,203.55,206.5,201.00,201.85,202.760380,3372,68,683708.0,2202,65.30,5.50,-1.7
1,28-December-2017,202.00,207.6,199.55,202.80,203.118439,8612,196,1749256.0,5063,58.79,8.05,0.8
2,27-December-2017,209.10,213.6,195.20,197.80,202.801825,24983,426,5066598.0,14168,56.71,18.40,-11.3
3,26-December-2017,216.50,219.9,207.20,209.70,213.418007,17782,363,3794999.0,7540,42.40,12.70,-6.8
4,22-December-2017,218.95,233.6,212.40,218.15,223.089049,165976,2710,37027428.0,60121,36.22,21.20,-0.8

In [31]:
df.shape

(248, 13)

In [26]:
df['Date'].dtype

dtype('O')

In [30]:
df.WAP.dtype

dtype('float64')

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       248 non-null    object
 1   Open Price                 248 non-null    float64
 2   High Price                 248 non-null    float64
 3   Low Price                  248 non-null    float64
 4   Close Price                248 non-null    float64
 5   WAP                        248 non-null    float64
 6   No.of Shares               248 non-null    int64
 7   No. of Trades              248 non-null    int64
 8   Total Turnover (Rs.)       248 non-null    float64
 9   Deliverable Quantity       248 non-null    int64
 10  % Deli. Qty to Traded Qty  248 non-null    float64
 11  Spread High-Low            248 non-null    float64
 12  Spread Close-Open          248 non-null    float64
dtypes: float64(9), int64(3), object(1)
memory usage: 25.3+ KB

In [32]:
df['Date']

0      29-December-2017
1      28-December-2017
2      27-December-2017
3      26-December-2017
4      22-December-2017
             ...
243      6-January-2017
244      5-January-2017
245      4-January-2017
246      3-January-2017
247      2-January-2017
Name: Date, Length: 248, dtype: object

In [37]:
df.iat[0,0]

'29-December-2017'

In [39]:
b = df.at[0,'Date']

In [40]:
type(b)

str

In [41]:
df['Timestamp']=pd.to_datetime(df.Date)

In [43]:
df.head()

,Date,Open Price,High Price,Low Price,Close Price,WAP,No.of Shares,No. of Trades,Total Turnover (Rs.),Deliverable Quantity,% Deli. Qty to Traded Qty,Spread High-Low,Spread Close-Open,Timestamp
0,29-December-2017,203.55,206.5,201.00,201.85,202.760380,3372,68,683708.0,2202,65.30,5.50,-1.7,2017-12-29
1,28-December-2017,202.00,207.6,199.55,202.80,203.118439,8612,196,1749256.0,5063,58.79,8.05,0.8,2017-12-28
2,27-December-2017,209.10,213.6,195.20,197.80,202.801825,24983,426,5066598.0,14168,56.71,18.40,-11.3,2017-12-27
3,26-December-2017,216.50,219.9,207.20,209.70,213.418007,17782,363,3794999.0,7540,42.40,12.70,-6.8,2017-12-26
4,22-December-2017,218.95,233.6,212.40,218.15,223.089049,165976,2710,37027428.0,60121,36.22,21.20,-0.8,2017-12-22

In [44]:
df.Timestamp

0     2017-12-29
1     2017-12-28
2     2017-12-27
3     2017-12-26
4     2017-12-22
         ...
243   2017-01-06
244   2017-01-05
245   2017-01-04
246   2017-01-03
247   2017-01-02
Name: Timestamp, Length: 248, dtype: datetime64[ns]

In [46]:
df.Date.dtype

dtype('O')

In [47]:
df.Timestamp.dtype

dtype('<M8[ns]')

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       248 non-null    object
 1   Open Price                 248 non-null    float64
 2   High Price                 248 non-null    float64
 3   Low Price                  248 non-null    float64
 4   Close Price                248 non-null    float64
 5   WAP                        248 non-null    float64
 6   No.of Shares               248 non-null    int64
 7   No. of Trades              248 non-null    int64
 8   Total Turnover (Rs.)       248 non-null    float64
 9   Deliverable Quantity       248 non-null    int64
 10  % Deli. Qty to Traded Qty  248 non-null    float64
 11  Spread High-Low            248 non-null    float64
 12  Spread Close-Open          248 non-null    float64
 13  Timestamp                  248 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(9), int64(3), object(1)
memory usage: 27.2+ KB

In [52]:
type(df.at[0,'Timestamp'])

pandas._libs.tslibs.timestamps.Timestamp

In [53]:
##

In [54]:
df['Date']=pd.to_datetime(df.Date)

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       248 non-null    datetime64[ns]
 1   Open Price                 248 non-null    float64
 2   High Price                 248 non-null    float64
 3   Low Price                  248 non-null    float64
 4   Close Price                248 non-null    float64
 5   WAP                        248 non-null    float64
 6   No.of Shares               248 non-null    int64
 7   No. of Trades              248 non-null    int64
 8   Total Turnover (Rs.)       248 non-null    float64
 9   Deliverable Quantity       248 non-null    int64
 10  % Deli. Qty to Traded Qty  248 non-null    float64
 11  Spread High-Low            248 non-null    float64
 12  Spread Close-Open          248 non-null    float64
 13  Timestamp                  248 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(9), int64(3)
memory usage: 27.2 KB

In [57]:
type(df.at[0,'Date'])

pandas._libs.tslibs.timestamps.Timestamp

In [58]:
df.Date.max()

Timestamp('2017-12-29 00:00:00')

In [59]:
df

,Date,Open Price,High Price,Low Price,Close Price,WAP,No.of Shares,No. of Trades,Total Turnover (Rs.),Deliverable Quantity,% Deli. Qty to Traded Qty,Spread High-Low,Spread Close-Open,Timestamp
0,2017-12-29,203.55,206.5,201.00,201.85,202.760380,3372,68,683708.0,2202,65.30,5.50,-1.70,2017-12-29
1,2017-12-28,202.00,207.6,199.55,202.80,203.118439,8612,196,1749256.0,5063,58.79,8.05,0.80,2017-12-28
2,2017-12-27,209.10,213.6,195.20,197.80,202.801825,24983,426,5066598.0,14168,56.71,18.40,-11.30,2017-12-27
3,2017-12-26,216.50,219.9,207.20,209.70,213.418007,17782,363,3794999.0,7540,42.40,12.70,-6.80,2017-12-26
4,2017-12-22,218.95,233.6,212.40,218.15,223.089049,165976,2710,37027428.0,60121,36.22,21.20,-0.80,2017-12-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,2017-01-06,110.10,110.1,107.80,110.10,110.048719,2771,34,304945.0,2045,73.80,2.30,0.00,2017-01-06
244,2017-01-05,101.00,104.9,100.00,104.90,103.352347,9993,147,1032800.0,5969,59.73,4.90,3.90,2017-01-05
245,2017-01-04,99.50,102.0,99.50,99.95,100.293226,4488,101,450116.0,3422,76.25,2.50,0.45,2017-01-04
246,2017-01-03,102.00,102.0,100.05,100.65,100.784909,6295,101,634441.0,4205,66.80,1.95,-1.35,2017-01-03
247,2017-01-02,104.00,104.0,99.00,101.65,101.302024,5483,182,555439.0,5062,92.32,5.00,-2.35,2017-01-02

In [60]:
df = pd.read_csv('shirpurGoldRefinery.csv')

In [61]:
df.head()

,Date,Open Price,High Price,Low Price,Close Price,WAP,No.of Shares,No. of Trades,Total Turnover (Rs.),Deliverable Quantity,% Deli. Qty to Traded Qty,Spread High-Low,Spread Close-Open
0,29-December-2017,203.55,206.5,201.00,201.85,202.760380,3372,68,683708.0,2202,65.30,5.50,-1.7
1,28-December-2017,202.00,207.6,199.55,202.80,203.118439,8612,196,1749256.0,5063,58.79,8.05,0.8
2,27-December-2017,209.10,213.6,195.20,197.80,202.801825,24983,426,5066598.0,14168,56.71,18.40,-11.3
3,26-December-2017,216.50,219.9,207.20,209.70,213.418007,17782,363,3794999.0,7540,42.40,12.70,-6.8
4,22-December-2017,218.95,233.6,212.40,218.15,223.089049,165976,2710,37027428.0,60121,36.22,21.20,-0.8

In [62]:
df['Timestamp']=pd.to_datetime(df.Date)

In [63]:
df.head()

,Date,Open Price,High Price,Low Price,Close Price,WAP,No.of Shares,No. of Trades,Total Turnover (Rs.),Deliverable Quantity,% Deli. Qty to Traded Qty,Spread High-Low,Spread Close-Open,Timestamp
0,29-December-2017,203.55,206.5,201.00,201.85,202.760380,3372,68,683708.0,2202,65.30,5.50,-1.7,2017-12-29
1,28-December-2017,202.00,207.6,199.55,202.80,203.118439,8612,196,1749256.0,5063,58.79,8.05,0.8,2017-12-28
2,27-December-2017,209.10,213.6,195.20,197.80,202.801825,24983,426,5066598.0,14168,56.71,18.40,-11.3,2017-12-27
3,26-December-2017,216.50,219.9,207.20,209.70,213.418007,17782,363,3794999.0,7540,42.40,12.70,-6.8,2017-12-26
4,22-December-2017,218.95,233.6,212.40,218.15,223.089049,165976,2710,37027428.0,60121,36.22,21.20,-0.8,2017-12-22

In [ ]:
#comparing the max

In [64]:
df.Date.max()

'9-October-2017'

In [65]:
df.Timestamp.max()

Timestamp('2017-12-29 00:00:00')

In [66]:
#to split date on the vasis of day,month year

In [67]:
df = pd.read_csv('shirpurGoldRefinery.csv')

In [68]:
df.head()

,Date,Open Price,High Price,Low Price,Close Price,WAP,No.of Shares,No. of Trades,Total Turnover (Rs.),Deliverable Quantity,% Deli. Qty to Traded Qty,Spread High-Low,Spread Close-Open
0,29-December-2017,203.55,206.5,201.00,201.85,202.760380,3372,68,683708.0,2202,65.30,5.50,-1.7
1,28-December-2017,202.00,207.6,199.55,202.80,203.118439,8612,196,1749256.0,5063,58.79,8.05,0.8
2,27-December-2017,209.10,213.6,195.20,197.80,202.801825,24983,426,5066598.0,14168,56.71,18.40,-11.3
3,26-December-2017,216.50,219.9,207.20,209.70,213.418007,17782,363,3794999.0,7540,42.40,12.70,-6.8
4,22-December-2017,218.95,233.6,212.40,218.15,223.089049,165976,2710,37027428.0,60121,36.22,21.20,-0.8

In [71]:
df['Date']=pd.to_datetime(df.Date)

In [72]:
df.head()

,Date,Open Price,High Price,Low Price,Close Price,WAP,No.of Shares,No. of Trades,Total Turnover (Rs.),Deliverable Quantity,% Deli. Qty to Traded Qty,Spread High-Low,Spread Close-Open
0,2017-12-29,203.55,206.5,201.00,201.85,202.760380,3372,68,683708.0,2202,65.30,5.50,-1.7
1,2017-12-28,202.00,207.6,199.55,202.80,203.118439,8612,196,1749256.0,5063,58.79,8.05,0.8
2,2017-12-27,209.10,213.6,195.20,197.80,202.801825,24983,426,5066598.0,14168,56.71,18.40,-11.3
3,2017-12-26,216.50,219.9,207.20,209.70,213.418007,17782,363,3794999.0,7540,42.40,12.70,-6.8
4,2017-12-22,218.95,233.6,212.40,218.15,223.089049,165976,2710,37027428.0,60121,36.22,21.20,-0.8

In [74]:
df['Day']=pd.DatetimeIndex(df.Date).day

In [75]:
df['Month']=pd.DatetimeIndex(df.Date).month

In [76]:
df['Year']=pd.DatetimeIndex(df.Date).year

In [77]:
df.head()

,Date,Open Price,High Price,Low Price,Close Price,WAP,No.of Shares,No. of Trades,Total Turnover (Rs.),Deliverable Quantity,% Deli. Qty to Traded Qty,Spread High-Low,Spread Close-Open,Day,Month,Year
0,2017-12-29,203.55,206.5,201.00,201.85,202.760380,3372,68,683708.0,2202,65.30,5.50,-1.7,29,12,2017
1,2017-12-28,202.00,207.6,199.55,202.80,203.118439,8612,196,1749256.0,5063,58.79,8.05,0.8,28,12,2017
2,2017-12-27,209.10,213.6,195.20,197.80,202.801825,24983,426,5066598.0,14168,56.71,18.40,-11.3,27,12,2017
3,2017-12-26,216.50,219.9,207.20,209.70,213.418007,17782,363,3794999.0,7540,42.40,12.70,-6.8,26,12,2017
4,2017-12-22,218.95,233.6,212.40,218.15,223.089049,165976,2710,37027428.0,60121,36.22,21.20,-0.8,22,12,2017

In [78]:
df.drop('Date',axis=1)

,Open Price,High Price,Low Price,Close Price,WAP,No.of Shares,No. of Trades,Total Turnover (Rs.),Deliverable Quantity,% Deli. Qty to Traded Qty,Spread High-Low,Spread Close-Open,Day,Month,Year
0,203.55,206.5,201.00,201.85,202.760380,3372,68,683708.0,2202,65.30,5.50,-1.70,29,12,2017
1,202.00,207.6,199.55,202.80,203.118439,8612,196,1749256.0,5063,58.79,8.05,0.80,28,12,2017
2,209.10,213.6,195.20,197.80,202.801825,24983,426,5066598.0,14168,56.71,18.40,-11.30,27,12,2017
3,216.50,219.9,207.20,209.70,213.418007,17782,363,3794999.0,7540,42.40,12.70,-6.80,26,12,2017
4,218.95,233.6,212.40,218.15,223.089049,165976,2710,37027428.0,60121,36.22,21.20,-0.80,22,12,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,110.10,110.1,107.80,110.10,110.048719,2771,34,304945.0,2045,73.80,2.30,0.00,6,1,2017
244,101.00,104.9,100.00,104.90,103.352347,9993,147,1032800.0,5969,59.73,4.90,3.90,5,1,2017
245,99.50,102.0,99.50,99.95,100.293226,4488,101,450116.0,3422,76.25,2.50,0.45,4,1,2017
246,102.00,102.0,100.05,100.65,100.784909,6295,101,634441.0,4205,66.80,1.95,-1.35,3,1,2017
247,104.00,104.0,99.00,101.65,101.302024,5483,182,555439.0,5062,92.32,5.00,-2.35,2,1,2017